@font-face {
   font-family: 'EB Garamond';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/500.ttf') format('truetype');
}
@font-face {
   font-family: 'EB Garamond';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/600.ttf') format('truetype');
}
@font-face {
   font-family: 'EB Garamond';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/700.ttf') format('truetype');
}
@font-face {
   font-family: 'EB Garamond';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/800.ttf') format('truetype');
}
@font-face {
   font-family: 'EB Garamond';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'EB Garamond';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'EB Garamond';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'EB Garamond';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'EB Garamond';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'EB Garamond';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Stratos_desktop/Desktop/website/website/fonts/EB Garamond/800italic.ttf') format('truetype');
}
